---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

interface Props {
  name: string;
  image: ImageMetadata;
  url: string;
  target?: "_blank" | "_self" | "_parent" | "_top";
}

const { name, image, url, target = "_blank" }: Props = Astro.props;
---


<div class="container">
  <Image
    src={image}
    alt={`${name} Icon`}
    title={`${name} Skillicon`}
    width={56}
    height={56}
    draggable="false"
  />
  
  <a href={url} target={target}>{name}</a>
</div>

<style>
  .container {
    width: auto;
    height: 96px;
    aspect-ratio: 32/9;
    overflow: hidden;
    display: flex;
    background-color: var(--light);
    padding: 1em;
    gap: 1em;
    border-radius: 0.5em;
  }

  .text {
    margin: auto;
  }

  a {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    font-weight: 500;
  }
</style>