---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

interface Props {
  name: string;
  image: ImageMetadata;
  url: string;
}

const { name, image, url }: Props = Astro.props;
---


<div class="container">
  <div>
    <Image
      src={image}
      alt={`${name} Icon`}
      title={`${name} Skillicon`}
      width={56}
      height={56}
      draggable="false"
    />
  </div>
  
  <a href={url} target="_blank">{name}</a>
</div>

<style>
  img {
    /*border-radius: 50%;*/
    margin: auto;
  }

  .container {
    width: auto;
    height: 96px;
    aspect-ratio: 32/9;
    overflow: hidden;
    display: flex;
    background-color: #21252e;
    padding: 1em;
    gap: 1em;
    border-radius: 0.5em;
  }

  .text {
    margin: auto;
  }

  a {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    font-weight: 500;
  }
</style>