---
import { SEOMetadata } from "astro-seo-metadata";
import navigation from "@config/navigation";

interface Props {
	page: string;
	frontmatter?;
}

const { page, frontmatter } = Astro.props;
const title = `SCHORN - ${page || frontmatter.title}`;
const year = new Date().getFullYear()
// @TODO: generic Projects component (maxShown?, format: vertical, horizontal)
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">

		<SEOMetadata
			siteName="SCHORN"
			title={title}
			description="SCHORN portfolio website powered by Astro"
			favicon="/favicon.svg"
			author="Maurice Schorn"
			copyright="MIT"
			canonicalUrl={Astro.url.toString()}
			type="website"
			astroGenerator={true}
		/>
	</head>
	<body>
		<nav>
			<ul>
				{navigation.map(item => (
					<li>
						<a href={item.url}>{item.name}</a>
					</li>
				))}
			</ul>
		</nav>

		<main>
			<slot />
		</main>
		
		<footer>
			<p><b>© Maurice Schorn</b> — 2022 - {year}</p>
			<a href="/legal">Legal</a>
		</footer>
	</body>
</html>

<style is:global>
	@font-face {
		font-family: Minecraft;
		src: url("/font/MinecraftTen.ttf");
	}

	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}

	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
		scroll-behavior: smooth;
	}

	body {
		max-width: 50em;
		margin-right: auto;
		margin-left: auto;
	}

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 0;
	}

	@media (max-width: 53.25em) {
		h3, h4, h5, p, a {
			padding-left: 0.75rem;
			padding-right: 0.75rem;
		}
	
		li {
			list-style-type: none !important;
		}

		li:not(nav *)::before {
			content: "- ";
		}
	}
	
	main {
		padding-bottom: 1em !important;
	}
	
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>

<style>
nav {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 100%;
    background-color: rgba(19, 21, 26, 0.9);
  }

  nav ul {
    margin: auto;
  }

	footer {
    display: flex;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0;
    padding-top: 0;
  }
</style>